<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Old Master Marketplace</title>
  </head>
  <body>
    <%- include('./reusables/navbar')%> <%- include('./reusables/searchBar',
    {search: search})%>

    <main>
      <div>
        <h1><%=header%></h1>
      </div>
      <div>
        <!-- loop to display however many elements there are -->
      </div>
    </main>
  </body>
</html>
