<nav>
  <div class="dashboard">
    <button>
      <a href="/">Dashboard</a>
    </button>
  </div>

  <div class="categories">
    <p>Categories</p>
    <button>
      <a href="/artists">Artists</a>
    </button>
    <button>
      <a href="/artworks">Artworks</a>
    </button>
    <button>
      <a href="/museums">Museums</a>
    </button>
  </div>

  <div class="forms">
    <p>Add</p>
    <button>
      <a href="/artists/newArtistForm">New Artist</a>
    </button>
    <button>
      <a href="/artworks/newArtworkForm">New Artwork</a>
    </button>
    <button>
      <a href="/museums/newMuseumForm">New Museum</a>
    </button>
  </div>
</nav>
