<nav>
  <div class="dashboard">
    <button>
      <a href="/">Dashboard</a>
    </button>
  </div>

  <div class="categories">
    <p>Categories</p>
    <button>
      <a href="/artists">Artists</a>
    </button>
    <button>
      <a href="/artworks">Artworks</a>
    </button>
    <button>
      <a href="/museums">Museums</a>
    </button>
  </div>

  <div class="forms">
    <p>Add an artwork</p>
    <p>It's easy as...</p>
    <ol>
      <li>
        <button>
          <a href="/artists/newArtistForm">New Artist</a>
        </button>
      </li>
      <li>
        <button>
          <a href="/museums/newMuseumForm">New Museum</a>
        </button>
      </li>
      <li>
        <button>
          <a href="/artworks/newArtworkForm">New Artwork</a>
        </button>
      </li>
    </ol>
  </div>
</nav>
